$green: #33836e;
$baseblack: #140a32;
$grey: #ebf2f0;
$white: #fff;
$brown: #321a0a;
$greylow: rgba(47, 43, 67, 0.4);
$greymedium: rgba(47, 43, 67, 0.5);
$greyborder: rgba(47, 43, 67, 0.15);
$greyhigh: rgba(47, 43, 67, 0.7);
$bgicon: #115b82;
