#help_you{
    .container{
        .help_you{
            margin-bottom: 80px;
            h4{
                color: var(--Base-Black, #140A32);  
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.96px;
                margin-bottom: 30px;
            }
    
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 20px;
                li{
                    gap: 25px;
                    display: flex;
                    width: 560px;
                    height: 180px;
                    padding: 30px;
                    align-items: center;
                    border-radius: 20px;
                    border: 1px solid var(--Gray-Borders, rgba(47, 43, 67, 0.15));
    
                    span{
                        display: flex;
                        padding: 35px;
                        align-items: center;    
                        gap: 10px;
                        border-radius: 9999px;
                        background: #EBF2F0;
                    }
    
                    p{
                        color: var(--Base-Black, #140A32);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #help_you{
        padding-top: 50px;
        .container{
            .help_you{
                padding:  0 10px;
                h4{
                    font-size: 20px !important; 
                }

                ul{
                    li{
                        padding: 20px !important;
                        gap: 15px;
                        flex-direction: column;
                        align-items: start;
                        height: 196px !important; 

                        span{
                            display: flex !important;
                            padding: 10px !important;
                            align-items: start !important;
                            gap: 10px !important;
                            margin-bottom: 0 !important;

                            svg{
                                width: 24px !important;
                                height: 24px !important;
                            }
                        }

                        p{
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
    }
}