#popup-wrapper{
    width: 100%;
    height: 100%;
    display: none;
    padding-top: 300px;
    .popup{
        z-index:1110;
        gap: 30px;
        position: fixed;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        margin: 0 auto;
        width: 896px;
        height: 397px;
        border-radius: 20px;
        background: var(--Base-White, #FFF);
        display: none;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
        margin-left: 120px;

        div{
            width: 577px;
            span{
                position: absolute;
                right: 15px;
                top: 15px;
                cursor: pointer;
            }
            h4{
                padding-top: 55px;
                color: var(--Base-Black, #140A32);
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.96px;
                margin-bottom: 20px;
            }

            .imgs{
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 20px;

                p{
                    color: var(--Base-Black, #140A32);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .buttons{
                margin-bottom: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                label{
                    display: flex;
                    flex-direction: column;
                    padding: 7px 16px 8px 16px;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 3px;
                    border-radius: 10px;
                    background: var(--Base-White, #FFF);

                    input{
                        outline: none;
                        border: none;
                        color: var(--Base-Black, #140A32);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    p{
                        color: var(--Gray-Low, rgba(47, 43, 67, 0.40));
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

                button{
                    display: flex;
                    padding: 16px 24px 18px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 10px;
                    background: var(--Base-Black, #140A32);
                    color: var(--Base-White, #FFF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    border: none;
                    cursor: pointer;

                    &:hover{
                        background: #000000;
                        transition: all 0.2s linear;
                    }
                }
            }


            p:last-child{
                color: var(--Gray-Low, rgba(47, 43, 67, 0.40));
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                padding-left: 18px;
            }
        }

    }
    .popup_succes{
        display: none;
        position: fixed;
        z-index: 11199;
        width: 896px;
        height: 397px;
        border-radius: 20px;
        background: var(--Base-White, #FFF);
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
        border-radius: 10px;
        overflow: hidden;
        margin:  0 auto;
        padding: 60px 200px;
        text-align: center;
        margin-left: 120px;

        h4{
            color: var(--Base-Black, #140A32);
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.96px;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        p{
            color: var(--Base-Black, #140A32);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 25.6px */
            margin-bottom: 30px;
        }

        button{
            display: block;
            margin: 0 auto;
            padding: 16px 36px 18px 36px;
            gap: 10px;
            border-radius: 10px;
            background: var(--green, #33836E);
            border: none;
            cursor: pointer;
            color: var(--Base-White, #FFF);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            &:hover{
                transition: all 0.2s linear;
                background:  #08221b;
            }
        }


        span:last-child{
            cursor: pointer;
            top: 20px;
            right: 20px;
            position: absolute;
        }
    }

    .colorfon{
        background: #000000bb;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
    }
}

@media only screen and (max-width: 768px){
    #popup-wrapper{
        height: 100% !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        padding-top: 70px !important;
        z-index: 99999999999;
        
        .popup{

            img:first-child{
                position: absolute;
                width: 228px;
                height: 232px;
                object-fit: cover !important;
                bottom: 0;
                left: -30px;
            }
            margin: 0 !important;
            width: 390px !important;
            height: 727px !important;
            

            div{
                width: 100%;
                h4{
                    font-size: 22px;
                    width: 314px;
                    text-align: center;
                    margin-left: 50px;
                }

                .imgs{
                    width: 100%;
                    position: absolute;
                    bottom: 130px;
                    left: 230px;
                    p{
                        display: none;
                    }

                    img{
                        position: absolute;
                        width: 160px !important;
                        object-fit: cover;
                        height: 40px !important;
                    }
                }

                .buttons{
                    flex-direction: column;
                    label{
                        display: block;
                        width: 100%;
                        margin-bottom: 30px;
                    }

                    button{
                        width: 100%;
                    }
                }
            }
        }

        .popup_succes{
            width: 390px !important;
            height: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
        }

    }
}